
@CHARSET "UTF-8";
.userlist-nowrap {
  white-space: nowrap;
  }

.userlist-profile {
  margin-top: -0.8em;
  float: right;
  }

.userlist-badges {
  width: 27px;
  }

.userlist-badge {
  display: block;
  float: left;
  width: 12px;
  height: 12px;
  margin: 1px 1px 1px 0;
  text-indent: -10000px;
}

.userlist-account-blocked {
  background: transparent url(blocked.png) no-repeat;
  }

.userlist-account-online {
  background: transparent url(online.png) no-repeat;
  }

.userlist-account-new {
  background: transparent url(new.png) no-repeat;
  }
