
@CHARSET "UTF-8";
.userlist_flag_account-1 {
  background: transparent url(flag1.png) no-repeat;
  }

.userlist_flag_account-2 {
  background: transparent url(flag2.png) no-repeat;
  }

.userlist_flag_account-3 {
  background: transparent url(flag3.png) no-repeat;
  }

.userlist_flag_account-4 {
  background: transparent url(flag4.png) no-repeat;
  }

.userlist_flag_account-5 {
  background: transparent url(flag5.png) no-repeat;
  }
